.btn-primary {
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  display: inline-block;
  background-color: $color-primary;
  border: 1px solid transparent;
  &:hover {
    background-color: $color-c;
  }
}

.btn-medium {
  padding: 10px 30px;
}

.btn-large {
  padding: 10px 36px;
}
