.col-md-4 {
  width: 33.333333%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-md-7 {
  width: 58.33333333%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-md-5 {
  width: 41.66666667%;
  padding-right: 15px;
  padding-left: 15px;
}