* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  line-height: 23px;
  font-weight: normal;
  font-style: normal;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
a, button, a {
  &:focus {
    outline: none;
  }
}
.header-full {
  width: 100%;
  margin: 0 auto;
  background-color: $color-a
}
.container-full {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.nopadding {
  padding: 0 !important;
}
.nomargin {
  margin: 0 !important;
}

// margin
.mrg-b10 {
  margin-bottom: 10px;
}
.mrg-b20 {
  margin-bottom: 20px;
}
.mrg-b30 {
  margin-bottom: 30px;
}

//padding
.pd-r10 {
  padding-right: 10px;
}
.d-flex {
  display: flex;
}
.txt-center {
  text-align: center;
}
.txt-uppercase {
  text-transform: uppercase;
}
.white {
  color: $color-a;
}
.bg-primary {
  background-color: $color-primary !important;
}
.bg-black {
  background-color: #25292e !important;
}
.active {
  color: $color-primary;
}
.font-16 {
  font-size: 16px;
}
.read-more:hover {
  color: $color-e;
}
