%clearfix {
  &::after {
    clear: both;
    content: '.';
    display: block;
    visibility: hidden;
    height: 0;
  }
}

%content-title {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
  font-style: normal;
}

%under-line {
  width: 12%;
  height: 2px;
  margin: 15px auto 0 auto;
  background-color: $color-primary;
}