/*Font*/

body {
  font-family: 'Lato', sans-serif;
}

/*Color*/

$color-primary: #a9cd2e;
$color-a: #ffffff;
$color-b: #727272;
$color-c: #101010;
$color-d: #f5f5f5;
$color-e: #101010;


/*Font*/
$icomoon-font-path: "fonts" !default;

$iconf-photo-gallery: "\e626";