<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/style.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  
  <title>My Project Ngoc-Tien</title>
</head>
<body>
  <header class="header-full">
    <div class="header">
      <div class="container header-top d-flex">
        <a class="logo" href="">
          <img src="../assets/images/logo.png" alt="">
        </a>
        <nav class="navigation d-flex">
          <ul class="main-menu d-flex">
            <li class="menu-item text-primary"><a class="link-menu text-primary" href="#">home</a>
              <!-- <ul>
                <li><a href="#">home-1</a></li>
                <li><a href="#">home-2</a></li>
              </ul> -->
            </li>
            <li class="menu-item"><a class="link-menu" href="#">about</a>
              <!-- <ul>
                <li><a href="#">about-1</a></li>
                <li><a href="#">about-2</a></li>
              </ul> -->
            </li>
            <li class="menu-item"><a class="link-menu" href="#">feature</a>
              <!-- <ul>
                <li><a href="#">feature-1</a></li>
                <li><a href="#">feature-2</a></li>
                <li><a href="#">feature-3</a></li>
              </ul> -->
            </li>
            <li class="menu-item"><a class="link-menu" href="#">portfolio</a></li>
            <li class="menu-item"><a class="link-menu" href="#">blog</a></li>
            <li class="menu-item"><a class="link-menu" href="#">shop</a></li>
          </ul>
          <ul class="top_nav d-flex">
            <li class="search-parent">
              <a class="link-menu" href="#">
                <i aria-hidden="true" class="fa fa-search"></i>
              </a>
            </li>
            <li class="cart-parent">
              <a class="link-menu d-flex" href="#">
                <i aria-hidden="true" class="fa fa-shopping-cart"></i>
                <span class="number">4</span>
              </a>
            </li>
            <!-- <li class="toggle"></li> -->
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <main>
    <section id="slider" class="banner container-full">
      <div class="banner-wrapper banner-1">
        <div class="container banner-caption">
          <h2 class="txt-center header-txt">Great performance</h2>
          <p class="txt-center content-txt">Create just what you need for your Perfect Website. Choose from a wide range of Elements &amp; simply put them on our Canvas.</p>
        </div>

      </div>
    </section>
    <section class="about-services">
      <div class="container d-flex">
        <div class="col-md-4">
          <div class="services-item bg-primary">
            <span class="icon-medium white mg-b--5 fontf-photo-gallery"></span>
            <h5 class="content-title white">Fully Responsive</h5>
            <p class="mg-b--5 white pd-t--4">
              Vestibulum ante ipsum primis sit amet justo elit faucibus orci luctus ultrices posuere cubilia Curae.
            </p>
            <a class="read-more white txt-uppercase "href="#">
              <i class=" pd-r--2fa fa-angle-right"></i>read more
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="services-item bg-black">
            <span class="icon-medium white mg-b--6 fontf-photo-gallery"></span>
            <h5 class="content-title white">Classic Styles</h5>
            <p class="mg-b--6 white pd--ss">
              Vestibulum ante ipsum primis sit amet justo elit faucibus orci luctus ultrices posuere cubilia Curae.
            </p>
            <a class="read-more text-primary txt-uppercase "href="#">
              <i class="pd-r--2 fa fa-angle-right"></i>read more
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="services-item">
            <span class="icon-medium text-primary mg-b--6 fontf-lock"></span>
            <h5 class="content-title">Secure Services</h5>
            <p class="mg-b--6">
              Vestibulum ante ipsum primis sit amet justo elit faucibus orci luctus ultrices posuere cubilia Curae.
            </p>
            <a class="read-more text-primary txt-uppercase "href="#">
              <i class="pd-r--2 fa fa-angle-right"></i>read more
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="offer-services">
      <div class="container-full d-flex">
        <div class="col-md-7">
          <img src="../assets/images/44.png">
        </div>
        <div class="col-md-5 content">
          <h5 class="content-title text-primary">We are offring best Services</h5>
          <h2 class="main-title">We offer best Services for your Business</h2>
          <div class="under-line no-mrgl mg-b--6"></div>
          <h4 class="second-title">Lorem Ipsum is simply dummy text of theprinting and typesetting it sit has</h4>
          <p class="mg-b--6">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet ligula. Etiam sit amet dolor. Vestibulum ante ipsum primis in faucibus</p>
          <ul class="content-lists">
            <li class="item mg-b--2"><i class="icon-check fa fa-check"></i>
              Nullam efficitur velit ut interdum pellentesque.
            </li>
            <li class="item mg-b--2"><i class="icon-check fa fa-check"></i>
              Maecenas sit amet orci eget mi commodo scelerisque.
            </li>
            <li class="item mg-b--2"><i class="icon-check fa fa-check"></i>
              Vivamus at sem rhoncus, posuere elit id, semper ipsum.
            </li>
            <li class="item mg-b--2"><i class="icon-check fa fa-check"></i>
              Maecenas sit amet orci eget mi commodo scelerisque.
            </li>
            <li class="item mg-b--2"><i class="icon-check fa fa-check"></i>
              Vivamus at sem rhoncus, posuere elit id, semper ipsum.
            </li>
          </ul>
          <a class="btn-primary bg-primary white mg-t--8 txt-uppercase" href="#">
            <i class="pd-r--1 fa fa-play-circle"></i>Read more</a>
        </div>
      </div>
    </section>
    <section class="our-services"></section>
    <section class="our-portfolio"></section>
    <section class="intro"></section>
    <section class="about-us"></section>
    <section class="our-prices"></section>
    <section class="our-team"></section>
    <section class="about-company"></section>
    <section class="our-testimonials"></section>
    <section class="recent-blogs"></section>
    <section class="carousel"></section>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="content">
        <img class="logo" src="" alt="">
        <p class="content-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo</p>
        <p class="content-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo</p>
      </div>

      <ul class="about">
        <li class="about-item"></li>
        <li class="about-item"></li>
        <li class="about-item"></li>
        <li class="about-item"></li>
        <li class="about-item"></li>
      </ul>

      <ul class="links">
        <li class="links-item"></li>
        <li class="links-item"></li>
        <li class="links-item"></li>
        <li class="links-item"></li>
        <li class="links-item"></li>
      </ul>
  
      <div class="contact-us">
        <ul class="social">
          <li class="social-item"></li>
          <li class="social-item"></li>
          <li class="social-item"></li>
          <li class="social-item"></li>
          <li class="social-item"></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <p></p>
      </div>
    </div>
  </footer>
  <!-- External JavaScripts
    ============================================= -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="../js/main.js"></script>
	<script type="text/javascript" src="../js/plugins.js"></script>
	<script type="text/javascript" src="../js/canvas.slider.fade.js"></script>
</body>
</html>